{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card border-success">
            <div class="card-header bg-success text-white">
                <h2>🤫 Секретная страница</h2>
            </div>
            <div class="card-body">
                <p class="lead">Поздравляю, {{ username }}! Вы успешно получили доступ к секретной странице.</p>
                <p>Это конфиденциальная информация, доступная только авторизованным пользователям.</p>
                <hr>
                <p>Здесь могла бы быть ваша реклама, но это секрет 😉</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}